﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="https://dg.imgix.net/at-home-in-wakanda-kdfkrhff-en/landscape/at-home-in-wakanda-kdfkrhff-d90bdb41656350831da4f01ab4eaa01f.jpg?ts=1518914815&ixlib=rails-2.1.4&w=700&h=394&dpr=2&ch=Width%2CDPR&auto=format%2Ccompress&fit=min" alt="ASP.NET" class="img-responsive"
                 style="display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;" />
            <div class="carousel-caption" role="option">
                <p>
                    Do more
                </p>
            </div>
        </div>
        <div class="item">
            <img src="http://www.manutd.com/~/media/FED61388493349809DD776B8254F3BCE.ashx" alt="Visual Studio" class="img-responsive" 
                 style="display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;"
                 />
            <div class="carousel-caption" role="option">
                <p>
                    Inspire
                </p>
            </div>
        </div>
        <div class="item">
            <img src="https://static.independent.co.uk/s3fs-public/thumbnails/image/2017/07/06/10/trump.jpg" alt="Microsoft Azure" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Learn
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
