﻿@page
@model andrei.Pages.Entry.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>EntryModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EntryModel.OwnerId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EntryModel.OwnerId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EntryModel.Type)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EntryModel.Type)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EntryModel.ProfessorName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EntryModel.ProfessorName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EntryModel.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EntryModel.Title)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="EntryModel.Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
