﻿@page
@model andrei.Pages.Entry.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>EntryModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EntryModel.OwnerId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EntryModel.OwnerId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EntryModel.Type)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EntryModel.Type)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EntryModel.ProfessorName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EntryModel.ProfessorName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EntryModel.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EntryModel.Title)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.EntryModel.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
