﻿@page
@model andrei.Pages.Entry.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<h4>EntryModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EntryModel.OwnerId" class="control-label"></label>
                <input asp-for="EntryModel.OwnerId" class="form-control" />
                <span asp-validation-for="EntryModel.OwnerId" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="EntryModel.Id" />
            <div class="form-group">
                <label asp-for="EntryModel.Type" class="control-label"></label>
                <input asp-for="EntryModel.Type" class="form-control" />
                <span asp-validation-for="EntryModel.Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EntryModel.ProfessorName" class="control-label"></label>
                <input asp-for="EntryModel.ProfessorName" class="form-control" />
                <span asp-validation-for="EntryModel.ProfessorName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EntryModel.Title" class="control-label"></label>
                <input asp-for="EntryModel.Title" class="form-control" />
                <span asp-validation-for="EntryModel.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
